@font-face {
    font-family: nombre;
    src: url(../fonts/Michroma-Regular.ttf);
}

body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    background-image: url(../Images/fondo.jpg);
    background-size: 100vw;
    background-position: center;
    background-repeat: no-repeat;
}

.menu {
    background: linear-gradient(rgb(44, 41, 41)10%, rgba(42, 36, 36, 0.671));
    font-family: nombre;
    font-size: 1.2vw;
    font-weight: bold;
    color: white;
    display: flex;
    gap: 30px;
    width: 100vw;
    margin: 0;
    justify-content: space-around;
    padding: 1rem;
}

.btns {
    display: flex;
    gap: 5vw;
}

.btns button:hover {
    text-decoration: underline;

}

.btns button {
    background: none;
    border: 0;
    font-size: 1vw;
    font-family: nombre;
    width: 4.5vw;
    color: white;
}

.cajon1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 10vh;
    gap: 50vh;
    font-family: nombre;
    text-align: center;
    font-size: 1.5vw;
    color: white;
}

.shopBtn {
    display: flex;
    justify-content: center;
}

.shopBtn button {
    text-align: center;
    font-family: nombre;
    background-color: orange;
    font-weight: 600;
    padding: 0.5vw;
    width: 10vw;
    border-radius: 2vh;
}

.cajon2 {
    display: flex;
    justify-content: center;
    padding-top: 8vh;
    padding-bottom: 15vh;
    background-color: rgb(20, 16, 16);
    color: white;
    margin: 0;
}

.tituloCajon2 {
    display: flex;
    padding-top: 8vh;
    align-items: center;
    font-family: nombre;
    font-size: 3vh;
}

.tituloCajon2 hr {
    width: 5vw;
    margin: 1vw;
}

.parrafoCajon2 {
    display: flex;
    flex-direction: column;
}

.contenidoCont1 button {
    text-align: center;
    font-family: nombre;
    background-color: orange;
    font-weight: 600;
    padding: 0.5vw;
    width: 10vw;
    border-radius: 2vh;
}

.contenidoCont1 {
    padding-left: 6vw;
    font-family: nombre;
    font-size: 1.2vw;
}

.img2 {
    width: 25vw;
}

.cajon3 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    padding-top: 8vh;
    padding-bottom: 15vh;
    background-color: rgb(20, 16, 16);
    color: white;
    font-family: nombre;
    margin: 0;
    gap: 20vw;
}

.cajon3 h1 {
    padding-top: 8vh;
    font-family: nombre;
    font-size: 4vh;
}

.contenidoCont3 button {
    text-align: center;
    font-family: nombre;
    background-color: orange;
    font-weight: 600;
    padding: 0.5vw;
    width: 10vw;
    border-radius: 2vh;
}