@font-face {
    font-family: nombre;
    src: url(../fonts/Michroma-Regular.ttf);
}

body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    background-image: url(../Images/fondo.jpg);
    background-size: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgb(20, 16, 16);
    font-family: nombre;
    color: white;
}

button{
    cursor: pointer;
}
.menu {
    background: linear-gradient(rgb(44, 41, 41)10%, rgba(42, 36, 36, 0.671));
    font-size: 1.2vw;
    font-weight: bold;
    display: flex;
    gap: 30px;
    margin: 0;
    justify-content: space-around;
    padding: 1rem;
}

.btns {
    display: flex;
    gap: 5vw;
}

.btns button:hover {
    text-decoration: underline;
}

.btns button {
    background: none;
    border: 0;
    font-size: 1vw;
    width: 4.5vw;
    color: white;
    font-family: nombre;
}

.cajon1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 10vh;
    gap: 50vh;
    text-align: center;
    font-size: 1.5vw;

}

.shopBtn {
    display: flex;
    justify-content: center;
}

.shopBtn button {
    text-align: center;
    background-color: orange;
    font-family: nombre;
    font-weight: 600;
    padding: 0.5vw;
    width: 10vw;
    border-radius: 2vh;
}

.cajon2 {
    display: flex;
    justify-content: center;
    padding-top: 8vh;
    padding-bottom: 15vh;
    margin: 0;
}

.tituloCajon2 {
    display: flex;
    padding-top: 8vh;
    align-items: center;
    font-size: 3vh;
}

.tituloCajon2 hr {
    width: 5vw;
    margin: 1vw;
}

.parrafoCajon2 {
    display: flex;
    flex-direction: column;
}

.contenidoCont1 button {
    text-align: center;
    background-color: orange;
    font-family: nombre;
    color: black;
    font-weight: 600;
    padding: 0.5vw;
    width: 10vw;
    border-radius: 2vh;
}

.contenidoCont1 {
    padding-left: 6vw;
    font-size: 1.2vw;
}

.img2 {
    width: 25vw;
}

.cajon3 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    padding-top: 8vh;
    padding-bottom: 15vh;
    margin: 0;
    gap: 20vw;
}

.cajon3 h1 {
    padding-top: 8vh;
    font-size: 4vh;
}

.contenidoCont3 button {
    text-align: center;
    font-family: nombre;
    background-color: orange;
    font-weight: 600;
    padding: 0.5vw;
    width: 10vw;
    border-radius: 2vh;
}
.cajon4{
    position: relative;
    margin: 10vh;
    height: 90vh;
}
.tituloCajon4{
    font-size: 3vh;
    margin-left: 2vw;
    margin-bottom: 15vh;
}
.cajon4 img{
    top: -6vh;
    position: absolute;
    width:15vh;
}
.catalogo{
    display: flex;
    justify-content: space-between;
}
.product h3{
    margin-top: 10vh;
}
.product{
    display: flex;
    border: 0.2vh solid orange;
    width: 22vw;
    height: 70vh;
    align-items: center;
    flex-direction: column;
    font-size: 3vh;
}
.product ul{
    margin-top: 8vh;
    display: flex;
    flex-direction: column;
    gap: 6vh;
    list-style: none;
}
.product button{
    margin-top: 5vh;
    text-align: center;
    font-family: nombre;
    background-color: orange;
    font-weight: 600;
    padding: 0.5vw;
    width: 10vw;
    border-radius: 2vh;
}
.cajon4 hr{
    margin-top: 15vh;
    width: 70vh;
    border-color: rgba(239, 166, 31, 0.698);
}
.cajaFoot{
    display: flex;
    align-items: center;
    justify-content:space-around;
    height: 40vh;
    padding-left: 10vw;
    padding-right: 10vw;
    font-size: 0.8vw;
}
.cajaFoot span{
    font-size: 2vw;
}
.cajaFoot p{
    margin-top: 5vh;
    font-size: 1vw;
}
.color{
    color: orange;
    font-weight:bold;
}
.footDos{
    align-items: center;
    justify-items: center;
    font-weight: 900;
    padding-bottom: 2vh;
}
.footDos hr{
    margin-top: 15vh;
    width: 70vh;
    border-color: rgba(239, 166, 31, 0.698);
}
.btnSubir{
    width: 4vw;
    height: 5vh;background-color: transparent;
    border-radius: 100%;
    border: none;
    transform:rotate(-90deg);
}
.flecha{
    display: flex;
    margin-right: 10vh;
    flex-direction: row-reverse;
    justify-content: flex-start;
}
.btnSubir img{
    width: 6vw;
    align-items: center;
}