.contenedor{
    display: block;
    width: 1080px;
    height: 1920px;
}

.fondo{
    position: absolute;
    width: 100%;
    height: 440%;
}
.fondo1{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index:1;
}

.lupa{
    position: absolute;
    top: 3.6%;
    left: 3.3%;
    height: 36px;
    width: auto;
    display: block;
    z-index: 2;
}
.login{
    position: absolute;
    top: 3.6%;
    right: 1.5%;
    width: 140px;
    padding: 8PX;
    background-color: #FFFFFF;
    border-radius: 20px;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    z-index: 2;
}
.prime{
    position: absolute;
    top: 227px;
    left: 682px;
    width: 556px;
    height: 313px;
    opacity: 1;
    z-index: 2;
}
.favorite{
    position: absolute;
    top: 517px;
    left: 589px;
    width: 1151px;
    height: 60px;
    font-family: "Roboto", sans-serif;
    font-size: 40px;
    color:#FFFFFF;
    z-index: 2;
}
.parrafo{
    position: absolute;
    top: 608px;
    left: 380px;
    width: 1160px;
    height: 102px;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    color:#FFFFFF;
    z-index: 2;
}
.login2{
    position: absolute;
    top: 755px;
    left: 730px;
    width: 458px;
    height: 104px;
    z-index: 2;
    padding: 8PX;
    background-color: #FFFFFF;
    border-radius: 70px;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
}
.cont2{
    position: absolute;
    top: 100%;
    left: 64px;
    width: 94%;
    height: 567px;
    background-color: #00A8E1;
    border-radius: 60px;
    display: block;
    }
.liveCont{
    position: absolute;
    font-size: 40px;
    left: 290px;
    color: #FFFFFF;
    text-align: center;
    font-family: "Roboto", sans-serif;
}
.tv{
    position: absolute;
    width: 150px;
    height: auto;
    top: 100px;
    left: 41%;
}
.HD{
    position: absolute;
    top: 300px;
    left: 250px;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 28px;
    color:#FFFFFF;
}
.cont3{
    position: absolute;
    top: 1817px;
    left: 64px;
    width: 94%;
    height: 724px;
    background-color: #00A8E1;
    border-radius: 60px;
    display: block;
    }
.dontLike{
    position: absolute;
    font-size: 40px;
    left: 130px;
    color: #FFFFFF;
    text-align: center;
    font-family: "Roboto", sans-serif;
}
.contImg{
    position: absolute;
    top: 130px;
    left: 45%;
}
.contImg, img{
    display: flex;
    justify-content: center;
    gap: 30px;
    width: 180px;
    height: 220px;
}
.find{
    position: absolute;
    font-size: 30px;
    top: 2286px;
    left: 207px;
    width: 1492px;
    height: 110px;
    color: #FFFFFF;
    text-align: center;
    font-family: "Roboto", sans-serif;
}
.cont4{
    position: absolute;
    top: 2590px;
    left: 64px;
    width: 94%;
    height: 567px;
    background-color: #00A8E1;
    border-radius: 60px;
    }
.cancel{
    position: absolute;
    font-size: 40px;
    left: 30%;
    color: #FFFFFF;
    text-align: center;
    font-family: "Roboto", sans-serif;
}
.cancelar{
    position: absolute;
    width: 100px;
    height: auto;
    top: 100px;
    left: 45%;
}
.ifYou{
    position: absolute;
    font-size: 30px;
    top: 1773px;
    left: 135px;
    width: 1664px;
    height: 60px;
    color: #FFFFFF;
    text-align: center;
    font-family: "Roboto", sans-serif;
}
.cont5 . {
    position: absolute;
    top: 3127px;
    left: 418px;
    width: 94%;
    height: 125px;
    font-size: 70px;
    color: #FFFFFF;
    text-align: center;
    font-family: "Roboto", sans-serif;
}
.range{
    position: absolute;
    top: 150px;
    font-size: 30px;
    color: #FFFFFF;
    text-align: center;
    font-family: "Roboto", sans-serif;
}
.flecha1{
    position: absolute;
    top: 520px;
    height: 20px;
    width: auto;
}
.iPhone{
    position: absolute;
    top: 420px;
    left: 20px;
    height: 250px;
    width: auto;
}
.mac{
    position: absolute;
    top: 300px;
    height: 450px;
    width: auto;
    left: 300px;
}
.pc{
    position: absolute;
    top: 420px;
    left: 780px;
    height: 250px;
    width: auto;
}
.flecha2{
    position: absolute;
    top: 520px;
    left: 1100px;
    height: 20px;
    width: auto;
    transform: rotate(180deg);    
}
.foot{
    position: absolute;
    display: flex;
    gap: 100px;
    left: 300px;
    top: 3100px;
    font-size: 20px;
    color: #FFFFFF;
    text-align: center;
    font-family: "Roboto", sans-serif;
}
