body {
    display: flex;
    background-color: black;
    color: white;
    text-align: center;
    justify-content: center;
}

.contenedor {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-image: url(../images/fondo.png);
    background-size: contain;
    width: 100vw;
    height: 100vh;
    animation: movimiento2 8s steps(100) infinite;
}

.bernie {
    position: absolute;
    width: 9vw;
    height: 32vh;
    top: 63vh;
    left: 40vw;
    justify-content: center;
    background-size: cover;
    background-repeat: no-repeat;
    animation: movimiento .4s steps(1) infinite;

}


.puente{
    background-image: url(../images/puente.png);
    background-size: contain;
    width: 100vw;
    height: 30vh;
    animation: movimiento2 8s steps(100) infinite;
}


@keyframes movimiento {
    0% {
        background-image: url(../images/bernie1.png);
    }

    20% {
        background-image: url(../images/bernie2.png)
    }
    40% {
        background-image: url(../images/bernie3.png);
    }

    60% {
        background-image: url(../images/bernie4.png)
    }
    80% {
        background-image: url(../images/bernie5.png);
    }

    90% {
        background-image: url(../images/bernie6.png)
    }
}

@keyframes movimientoBernie{
    to{
        background-position: 0%;
    }
    from{
        background-position: 10%;
    }
}

@keyframes movimiento2{
    to{
        background-position: 10vh;
    }
    from{
        background-position: 100vw;
    }
}
